<div class="container mx-auto my-8 px-4">
  <div class="flex justify-between items-center mb-4">
    <h1 class="h2">Perriors</h1>

    <% if @perriors.exists? %>
      <%= link_to 'New Perrior', new_perrior_path, class: "btn btn-default" %>
    <% end %>
  </div>

  <% if @perriors.exists? %>
    <div class="bg-white rounded shadow">
      <table class="w-full">
        <thead>
          <tr>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Title</th>
            <th class="p-3 uppercase text-left text-xs text-gray-700">Content</th>

            <th class="p-3 uppercase text-left text-xs text-gray-700">Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @perriors.each do |perrior| %>
          <tr class="group border-t border-gray-400 hover:bg-gray-100">
                          <td class="p-3"><%= perrior.title %></td>
                          <td class="p-3"><%= perrior.content %></td>
            
            <td>
              <%= link_to "View", perrior, class: "btn btn-default" %>
              <%= link_to "Edit", edit_perrior_path(perrior), class: "btn btn-default" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  <% else %>
    <div class="bg-white rounded shadow flex items-center justify-between p-8">
      <div class="flex-1 text-center">
        <p class="text-xl font-semibold mb-4">Create your first Perrior</p>
      <%= link_to 'New Perrior', new_perrior_path, class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>