<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= form.label :title, class:"label" %>
    <%= form.text_field :title, class:"input" %>
  </div>

  <div class="input-group">
    <%= form.label :description, class:"label" %>
    <%= form.text_area :description, class:"input" %>
  </div>

  <div class="actions">
    <%= form.submit "create post", class: "btn btn-default" %>
  </div>
  <hr class="mt-6 border" />
<% end %>
